services:
  name_pending:
    container_name: name_pending
    image: name_pending
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "6969:6969"
    volumes:
      - .:/app
